@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:ital,wght@0,400;0,500;0,700;1,300&family=Nuosu+SIL&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600&family=Press+Start+2P&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, 
body,
#root,
.app,
.content{
    height:100%;
    width:100%;
    font-family: 'Source sans pro', sans-serif;
}

.app{
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
}

/* TRACK */

::-webkit-scrollbar-track{
    background: #e0e0e0;
}

/*HANDLE*/

::-webkit-scrollbar-thumb{
    background: #888;
}

/*HANDLE ON HOVER*/

::-webkit-scrollbar-track-hover{
    background: #555;
}